<br>
Player 1: <%= @player_1.name %> attacked <%= @player_2.name %>
<br>
<form action ="/play">
  <input type="submit" value="OK">
</form>

<br>
<img src="https://i.pinimg.com/originals/5c/36/be/5c36bef038f9f65920bd2167043d2a62.jpg">