<h1>Battle!</h1>
<h2>Sign in to play!</h2>

<form action="/names" method="post">
<label for="Player_1_name">Enter your name, bold warrior, Player 1 name:</label>
<input type="text" name="player_1_name"></label>
<br>
<label for="Player_2_name">Enter your name, fearless Spartan, Player 2 name:</label>
<input type="text" name="player_2_name">
<input type="submit" value="Submit">
</form>

<h1>Fortune favours the bold.</p>

<img src = 'https://i0.wp.com/militaryhistorynow.com/wp-content/uploads/2019/03/300-Travel-Sculpture-Statue-Antique-Greece-Sparta-1414069.jpg?fit=960%2C640&ssl=1'>
