<%= @player_1_name %> vs. <%= @player_2_name %>
<br>
<br>
<%= @player_2_name %>: 60HP
<br>
<br>
<%= @player_2_name %>: 50HP
<%# <a href="/attack">Attack</a> %>

<form action ="/attack">
  <input type="submit" value="Attack">
</form>

